<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lists</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients">
            {{ ingredient }} ({{ i }})
        </li>
    </ul>

    <hr/>
    <ul>
        <li v-for="person in persons">
            <div v-for="(value, key, index) in person">{{ key }} : {{ value }} index {{ index }}</div>
        </li>
    </ul>
    <hr/>
    <template v-for="(ingredient, i) in ingredients">
        <h1>{{ ingredient }}</h1>
        <p>{{ i }}</p>
    </template>
    <span v-for="n in 10">{{n}}</span>
    <button @click="ingredients.push('spices')">Add new</button>
</div>

</body>
</html>

<script>
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', "fruit", "cookies"],
            persons: [
                {name: "Michal", age: 39, color: "red"},
                {name: "Anna", age: "unknown", color: "blue"}]
        },
        methods: {}
    })
</script>